<!-- Фрейм показа статистики по партнерской программе -->

<html>

<head>
	<style>
		td{
			padding-top:5px; 
			padding-bottom:5px
		}
		
		th {
			padding-top:5px; 
			padding-bottom:5px
		}
	</style>
</head>

<body>
	<h1>Статистика по партнерской программе</h1>
	
	<table border="1" width="100%" bgcolor="#ededed">
		<tr>
			<th colspan="2">Статистика по партнерской программе</th>
		</tr>
		
				
		<tr>
			<th width = "30%" align = "right">Всего партнеров</th>
			<td width = "70%" align = "left"></td>
		</tr>
		
		<tr>
			<th width = "30%" align = "right">Приобретено "партнеров"</th>
			<td width = "70%" align = "left"></td>
		</tr>
		
		<tr>
			<th width = "30%" align = "right">Приобретено "партнеров" за последний месяц</th>
			<td width = "70%" align = "left"></td>
		</tr>	
	</table>
	
	
	<table border="1" width="100%" bgcolor="#ededed" style="margin-top:10vh;">
		<tr>
			<th colspan="7">Топ-10 партнеров</th>
		</tr>
		
		<tr>
			<th width="4%">№</th>
			<th width="40%">Название</th>
			<th width="14%">Цена</th>
			<th width="14%">Число просмотров</th>
			<th width="14%">Число покупок</th>
			<th width="14%">Воспользовались</th>
		</tr>
	</table>
	
	
	<table border="1" width="100%" bgcolor="#ededed" style="margin-top:10vh;">
		<tr>
			<th colspan="6">Топ-10 партнеров за последний месяц</th>
		</tr>
		
		<tr>
			<th width="4%">№</th>
			<th width="40%">Название</th>
			<th width="14%">Цена</th>
			<th width="14%">Число просмотров</th>
			<th width="14%">Число покупок</th>
			<th width="14%">Воспользовались</th>
		</tr>
	</table>
	
</body>

</html>