<!-- Фрейм показа общей статистики -->

<html>

<head>
	<style>
		td{
			padding-top:5px; 
			padding-bottom:5px
		}
		
		th {
			padding-top:5px; 
			padding-bottom:5px
		}
	</style>
</head>

<body>
	<h1>Статистика по приложению</h1>
</body>

<table border="1" width="100%" bgcolor="#ededed">

	<tr>
		<th colspan="2">Статистика</th>
	</tr>
	
	<tr>
		<th width = "30%" align = "right">Количество пользователей</th>
		<td width = "70%" align = "left"></td>
	</tr>
	
	<tr>
		<th width = "30%" align = "right">Количество новых пользователей за день</th>
		<td width = "70%" align = "left"></td>
	</tr>
	
	<tr>
		<th width = "30%" align = "right">Количество новых пользователей за месяц</th>
		<td width = "70%" align = "left"></td>
	</tr>
	
	<tr>
		<th width = "30%" align = "right">Количество запусков в день</th>
		<td width = "70%" align = "left"></td>
	</tr>
	
	<tr>
		<th width = "30%" align = "right">Количество товаров</th>
		<td width = "70%" align = "left"></td>
	</tr>
	
	<tr>
		<th width = "30%" align = "right">Количество покупок</th>
		<td width = "70%" align = "left"></td>
	</tr>
	
	<tr>
		<th width = "30%" align = "right">Количесвто покупок за день</th>
		<td width = "70%" align = "left"></td>
	</tr>
		
</table>

</html>