<!-- Фрейм показа статистики по товарам -->

<html>

<head>
	<style>
		td{
			padding-top:5px; 
			padding-bottom:5px
		}
		
		th {
			padding-top:5px; 
			padding-bottom:5px
		}
	</style>
</head>

<body>
	<h1>Статистика по товарам</h1>
	
	<table border="1" width="100%" bgcolor="#ededed">
		<tr>
			<th colspan="2">Общая статистика по товарам</th>
		</tr>
				
		<tr>
			<th width = "30%" align = "right">Всего товаров</th>
			<td width = "70%" align = "left"></td>
		</tr>
		
		<tr>
			<th width = "30%" align = "right">Приобретено товаров</th>
			<td width = "70%" align = "left"></td>
		</tr>
		
		<tr>
			<th width = "30%" align = "right">Приобретено товаров за последний месяц</th>
			<td width = "70%" align = "left"></td>
		</tr>	
		
		<tr>
			<th width = "30%" align = "right">Сейчас находится в корзине</th>
			<td width = "70%" align = "left"></td>
		</tr>	
	</table>
	
	
	<table border="1" width="100%" bgcolor="#ededed" style="margin-top:10vh;">
		<tr>
			<th colspan="7">Топ-10 товаров за все время</th>
		</tr>
		
		<tr>
			<th width="3%">№</th>
			<th width="20%">Категория</th>
			<th width="30%">Название</th>
			<th width="12%">Цена</th>
			<th width="12%">Число просмотров</th>
			<th width="12%">Добавили в корзину</th>
			<th width="11%">Число покупок</th>
		</tr>
	</table>
	
	
	<table border="1" width="100%" bgcolor="#ededed" style="margin-top:10vh;">
		<tr>
			<th colspan="7">Топ-10 товаров за месяц</th>
		</tr>
		
		<tr>
			<th width="3%">№</th>
			<th width="20%">Категория</th>
			<th width="30%">Название</th>
			<th width="12%">Цена</th>
			<th width="12%">Число просмотров</th>
			<th width="12%">Добавили в корзину</th>
			<th width="11%">Число покупок</th>
		</tr>
	</table>
	
</body>

</html>